      /* * * * * * */
      /* variables */
      /* * * * * * */

:root {
  --color-main: #000;
  --color-bg: #dfdfdf;
  --color-highlight: #fff;
  --spacing-xs: 10px;
  --spacing-s: 20px;
  --spacing-m: 40px;
  --spacing-l: 60px;
  --spacing-xl: 100px;
  --header-height: 40px;
}

html {
  position: relative;
  font-family: 'DM Mono', monospace;
  font-size: 10px;
  color: var(--color-main);
  background: var(--color-bg);
}

/* reset */
body, h1, h2, h3, p, blockquote, ul, a {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 300;
  text-decoration: none;
}

      /* * * * * * * */
      /* typography  */
      /* * * * * * * */

h1 {
  display: inline-block;
  border-bottom: 3px solid;
  padding-bottom: 1px;
  font-weight: 500;
}

span {
  display: inline-block;
}

      /* * * * * */
      /* layout  */
      /* * * * * */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: var(--spacing-s);
}

header {
  position: absolute;
  top: var(--spacing-s);
  left: var(--spacing-s);
}

main {
  display: inline-flex;
  align-items: flex-end;
  margin: calc(var(--header-height) + var(--spacing-s)) 0;
  max-width: 1350px;
}

      /* * * */
      /* nav */
      /* * * */

nav {
  display: inline-block;
}

.nav-item {
  display: inline-block;
  margin-left: var(--spacing-s);
  list-style-type: none;
}

.nav-item-link {
  display: inline-block;
  border-bottom: 3px solid var(--color-bg);
  padding-bottom: 1px;
  color: inherit;
  transition: border-color .15s;
}
.nav-item-link:hover {
  border-color: var(--color-highlight);
}

      /* * * * * */
      /* images  */
      /* * * * * */

img {
  max-width: 350px;
}
img + blockquote {
  margin-left: var(--spacing-m);
  border-left: 3px solid var(--color-highlight);
  padding: 0 0 var(--spacing-m) var(--spacing-s);
}

      /* * * * * * * * * */
      /* responsiveness  */
      /* * * * * * * * * */

@media (max-width: 600px) {

}